<!--create signup view -->
<section class="page">
<h2>Let's become an Acoustic Lover!</h2>
<div class="centered-box">
 <%#= render 'share/errors' %>
    <form action='<%= users_url %>' method="post"> <!--users_url is create method in users controller -->
        <label type="user_email">User email</label>
        <input type="text" name="user[email]" id="user_email" value=""><!--value is the initial value of the input element, we dont need it for signup form, can leave it blank-->
    <br>

        <label>Password</label> <!--since input tag is nested inside label, unesscessary to have "id" and "for"-->
        <input type="password" name="user[password]" value="">
    <br>
        <input type="submit" value="Create new account">
 </form>
</div>
</section>
